beautifulsoup4
boto3
branca
folium
geopandas
graphviz
ipython
ipywidgets
matplotlib
numpy
pandas
pillow
pingouin
pydotplus
requests
s3transfer
scikit-learn
scipy
seaborn
shapely
statsmodels
sympy
tqdm
urllib3
wordcloud
xlrd







